@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body
{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    overflow-x: hidden;  
}

#carousel .carousel-item > div, div.img-start > div
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 40px;
    padding: 50px;
    text-align: left;
}

#carousel .carousel-item img, div.img-start img
{
    filter: brightness(0.4);
    height: 400px !important;
    object-fit: cover;
    width: 100%;
}

#carousel, div.img-start
{
    height: 400px !important;
}

.stats .fa-solid
{
    font-size: 40px;
    padding-bottom: 10px;
}

#pomocni .fa-solid
{
    float: right;
}

section.info > .row > div > div, .contact > .row > div > div
{
    -webkit-box-shadow: 0px 0px 12px 1px rgba(199, 199, 206, 1);
    -moz-box-shadow: 0px 0px 12px 1px rgba(199, 199, 206, 1);
    box-shadow: 0px 0px 12px 1px rgba(199, 199, 206, 1);
    border-radius: 12px;
    position: relative;
}

section.info > .row > div > div a
{
    position: absolute;
    bottom: 0;
    padding-bottom: 15px;
}

section.info .fa-solid, section.info .fa-brands
{
    padding-bottom: 25px;
}

.slider > div
{
    cursor: grab;
}

footer
{
    font-size: 15px;
}

footer ul
{
    display: block;
    list-style: none;
}

footer ul a
{
    text-decoration: none;
}

footer .fa-brands
{
    font-size: 18px;
    padding: 5px 10px 5px 0;
}

.pop-up
{
    display: none;
}


/* nav */
body > header
{
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    background-color: rgb(221, 221, 221);
}

section:first-child
{
    padding-top: 60px;
    background-color: rgb(221, 221, 221);
}

@media only screen and (max-width: 767px) 
{
    section:first-child
    {
        padding-top: 52px;
    }
}

.scrolled-down{transform: translateY(-100%); transition: all 0.3s ease-in-out;}
.scrolled-up{transform: translateY(0); transition: all 0.3s ease-in-out;}

/* animation */
.animated
{
    position: relative !important;
    opacity: 0;
}

.animated.active
{
    opacity: 1;
}

.active.fade-bottom 
{
  animation: fade-bottom .6s ease-in;
}

.active.fade-left 
{
  animation: fade-left .6s ease-in;
}

.active.fade-right 
{
  animation: fade-right .6s ease-in;
}

.active.fade-top
{
  animation: fade-top .6s ease-in;
}

@keyframes fade-bottom 
{
    0% {transform: translateY(50px); opacity: 0;}
    100% {transform: translateY(0); opacity: 1;}
}

@keyframes fade-top
{
    0% {transform: translateY(-50px); opacity: 0;}
    100% {transform: translateY(0); opacity: 1;}
}

@keyframes fade-left 
{
    0% {transform: translateX(-100px); opacity: 0;}
    100% {transform: translateX(0); opacity: 1;}
}

@keyframes fade-right 
{
    0% {transform: translateX(100px); opacity: 0;}
    100% { transform: translateX(0); opacity: 1;}
}

@keyframes hide-scroll 
{
    from, to { overflow: hidden; } 
}